@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");

:root {
    --secondary-hero-background: #232227;
    --secondary-icon-background: #786aba;
    --secondary-toggle-background: #232227;
    --secondary-background: #232227;
    --secondary-navbar: #786aba;
    --secondary-hero-title: #786aba;
    --secondary-subtitle: white;
    --secondary-text: white;
    --secondary-link: #ACAACB;
    --secondary-link-hover: #9AB6D0;
}

[data-theme=dark],
.dark,
body.dark {
    background-color: var(--secondary-background);
    color: var(--secondary-text);

    height: 100%;
    .hero-background {
        background-color: var(--secondary-hero-background);
    }

    .card {
        margin: 10px;
        background-color: var(--secondary-background);
        color: var(--secondary-text);
        box-shadow: 0 0.5em 1em -0.125em rgba(161, 161, 161, 0.1), 0 0 0 1px rgba(180, 180, 180, 0);

        .title,
        .subtitle {
            color: var(--secondary-subtitle);
        }
      }

      .navbar {
        background-color: var(--secondary-navbar);
      }

a,
a:link {
    color: var(--secondary-link);
  }
  
   a:hover {
    color: var(--secondary-link-hover);
    text-decoration: underline;
  }
  
   a:focus {
    color: var(--secondary-link-hover);
    text-decoration: underline;
  }
  
  .section {
    line-height: 1.6;
    background-color: var(--secondary-background);
  
        h2 {
            color: var(--secondary-subtitle);
        }
    }
  
  ion-icon {
    font-size: 48px;
    padding: 15px;
    color: var(--secondary-icon-background);
  }

  ion-icon.menu-icon {
    color: var(--secondary-toggle-background);
    font-size: 32px;
  }
  
  ion-icon:hover {
    opacity: 70%;
  }
}