@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");

@media (prefers-color-scheme: dark) {
    :root {
        --secondary-hero-background: #232227;
        --secondary-icon-background: #bf61ae;
        --secondary-toggle-background: #232227;
        --secondary-background: #232227;
        --secondary-hero-title: #bf61ae;
        --secondary-subtitle: white;
        --secondary-text: white;
        --secondary-link: #bf61ae;
        --secondary-link-hover: #48779d;
    }
}

[data-theme=dark],
.dark {
    background-color: var(--secondary-background);
    color: var(--secondary-text);
}

body.dark {
    .hero-background {
        background-color: var(--secondary-hero-background);
    }

    .card {
        margin: 10px;
        background-color: var(--secondary-background);
        color: var(--secondary-text);
        box-shadow: 0 0.5em 1em -0.125em rgba(161, 161, 161, 0.1), 0 0 0 1px rgba(180, 180, 180, 0);

        .title,
        .subtitle {
            color: var(--secondary-subtitle);
        }
      }

a:link {
    color: var(--secondary-link);
  }
  
   a:hover {
    color: var(--secondary-link-hover);
    text-decoration: underline;
  }
  
   a:focus {
    color: var(--secondary-link-hover);
    text-decoration: underline;
  }
  
   .hello {
    color: var(--secondary-hero-title);
  }
  
  .section {
    line-height: 1.6;
    background-color: var(--secondary-background);
  }
  
  .section > h2 {
    color: var(--secondary-subtitle);
  }
  
  ion-icon {
    font-size: 48px;
    padding: 15px;
    color: var(--secondary-icon-background);
  }

  .icon-toggle {
    font-size: 32px;
    color: var(--secondary-toggle-background);
  }
  
  ion-icon:hover {
    opacity: 70%;
  }
}