.element {
	width: 100%;
	height: 100%;
	animation: pulse 35s infinite;
  }
  
  @keyframes pulse {
	0% {
	  background-color: #958bc4;
	}
	50% {
	  background-color: #94bbe9;
	}
	100% {
	  background-color: #958bc4;
	}
  }
  
  html,
  body {
	height: 100%;
	background-color: white;
	font-family: 'Poppins', sans serif;
	scroll-behavior: smooth;
  }
  
  .navbar-item {
	color: white;
  }
  
  h1 {
	font-family: 'VT323', monospace;
	  font-size: 74px;
	  font-style: bold;
  }
  
  .hello {
	font-family: 'Poppins', monospace;
	  font-size: 74px;
	  font-style: bold;
	  color: white;
  }
  
  #hack {
	font-family: 'VT323', monospace;
	  font-size: 40px;
	  font-style: bold;
  }

  #contact {
	  color: white;
  }
  
  .section {
	line-height: 1.6;
  }
  
  .section > h2,
  .section > button {
	color: black;
  }
  
  .icon {
	  font-size: 40px;
	  color: white;
	  margin-left: 15px;
	  margin-right: 15px;
  }
  
  .subtitle {
	color: white;
  }
  
  footer {
	animation: pulse 35s infinite;
	text-align: center;
	color: white;
  }

  ion-icon {
	font-size: 35px;
	padding: 15px;
  }