@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css");
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import "./darkstyles.css";

:root {
  --primary-font: "Karla", sans-serif;
  --primary-hero-background: #786aba;
  --primary-icon-background: white;
  --primary-background: white;
  --primary-hero-title: white;
  --primary-subtitle: black;
  --primary-text: #4a4a4a;
  --primary-link: #5432dc;
  --primary-link-hover: #3273dc;
}

html,
body {
  height: 100%;
  background-color: var(--primary-background);
  font-family: var(--primary-font);
  color: var(--primary-text);
  scroll-behavior: smooth;
}

body .hero-background {
  background-color: var(--primary-hero-background);
}

body a:link {
  color: var(--primary-link);
}

body a:hover {
  color: var(--primary-link-hover);
  text-decoration: underline;
}

body a:focus {
  color: var(--primary-link-hover);
  text-decoration: underline;
}

body .hello {
  color: var(--primary-hero-title);
}

.section {
  line-height: 1.6;
}

.section > h2 {
  color: var(--primary-subtitle);
}

ion-icon {
  font-size: 48px;
  padding: 15px;
  color: var(--primary-icon-background);
}

ion-icon:hover {
  opacity: 70%;
}