@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

.purple-bg {
  background-color: #786aba;
}

html,
body {
  height: 100%;
  background-color: white;
  font-family: "Karla", sans-serif;
  scroll-behavior: smooth;
}

a:link {
  color: #5432dc;
}

a:hover {
  color: #3273dc;
  text-decoration: underline;
}

a:focus {
  color: #3273dc;
  text-decoration: underline;
}

.hello {
  color: white;
}

.section {
  line-height: 1.6;
}

.section > h2 {
  color: black;
}

ion-icon {
  font-size: 48px;
  padding: 15px;
  color: white;
}

ion-icon:hover {
  opacity: 70%;
}
